node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

# 個人用マウント等追加
compose.override.yaml

# pnpm
.pnpm-store/
pnpm-store/
pnpm-debug.log*

# Database
*.db
*.sqlite
*.sqlite3
